#main-container {
    width: 85%;
    padding: 0%;
}

#network-layout-toggle
  .custom-control-input:checked
  ~ .custom-control-label::before {
  background-color: #343a40;
  border-color: #343a40;
}

#header {}
#content {
    min-height: calc(90vh - 5rem);
}
#footer {
    height: 5rem;
}
