#main-container {
    width: 85%;
    padding: 0%;
    background-color: white;
}

#network-layout-toggle
  .custom-control-input:checked
  ~ .custom-control-label::before {
  background-color: #343a40;
  border-color: #343a40;
}

#content {
    min-height: calc(90vh - 5rem);
}

#header {
    width: 100%;
    background-color: #343a40;
}

#footer {
    height: 5rem;
    background-color: #343a40;
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer-text {
    color: white;
    margin-top: 1rem;
    margin-left: 0.5rem;
}

a:hover {
    color: orange;
    text-decoration: none;
}

.github-logo {
    margin-top: 0.5rem;
    margin-left: 1rem;
    height: 32px;
    width: 32px;
}

Summary {
    font-weight: bold;
}

#input-kinase-list {
    margin: auto;
    width: 75%;
    height: 20%;
    margin-top: 50px;
}

#submit-button-div {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

#zscore-cutoff {
    width: 60px;
}

#input-toggles-form {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

#kin-map-container {
    display: grid;
    justify-content: center;
}

body {
    background-color: rgb(249, 250, 251);
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: #dddddd;
}
